<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- <mat-tab-group>
    <mat-tab label="First"> Make A Booking </mat-tab>
    <mat-tab label="Second"> All Bookings </mat-tab>
</mat-tab-group> -->
<nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of links" (click)="select_link(link)" [active]="activeLink == link">
        {{link}}
    </a>
</nav>
<router-outlet></router-outlet>